---
layout: base.njk
title: Work
description: Credits from Nicola Rivosecchi's sound work.
permalink: /sound/work/index.html
stylesheets:
  - /sound/css/cards.css
scripts:
  - /sound/js/cards.js
---
<h1>Work</h1>
{%- set credits = collections.work | sort(false, false, "data.order") %}
<ol class="work-grid" role="list">
{%- for credit in credits %}
  <li>
{% include "credit-card.njk" %}
  </li>
{%- endfor %}
</ol>
